* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#h1 {
  text-align: center;
}

#in1 {
  font-size: 2vw;
  padding: 1vh;
  /* margin-top: 0vw; */
  /* justify-content: space-around; */
  
}

#md {
  border-radius: 10%;
  overflow: hidden;
  text-align: center;
  font-size: 3vw;
  margin-left: 40vw;
  background-color: darkgray;
  width: 15vw;
  height: 50vh;
  /* display: flax; */
  /* justify-content: space-around; */
}
button {
  background-color: gray;
  text-align: center;
  
  height: 3.5vw;
  width: 3vw; 
  font-size: 1.5vw;
  font-weight: 900;
  padding: 0.5vw;
  border-radius: 40%;
  /* margin: 0vw; */
  /* display: flex; */
  justify-content: space-around;
}
